@model SPA2.Models.Settings
@{
    ViewBag.Title = "App for Read Text Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    @Html.Partial("Test")
    @using (Ajax.BeginForm("DocTable", "Home", new AjaxOptions { UpdateTargetId = "Docfile" }))
    {
        <div class="col" style="margin-top:20%">
            <h6>
                @Html.LabelFor(Model => Model.DBName, "Имя базы данных")
            </h6>
            @Html.EditorFor(model => Model.DBName, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 350px", @readonly = "readonly" } })
            <h6>
                @Html.LabelFor(Model => Model.filePath, "Путь к файлу")
            </h6>
            <div class="input-group mb-3">
                @Html.EditorFor(model => Model.filePath, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 350px", @readonly = "readonly" } })
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="choosefile(event)">...</button>
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                
                <h6>
                    @Html.CheckBoxFor(model => model.hasCaption, new { @class = "custom-checkbox custom-control-input" })
                    @Html.LabelFor(model => model.hasCaption, "Первая строка содержит заголовки", new { @class = "custom-control-label" })
                </h6>
                
            </div>
            <h6>
                Разделитель
            </h6>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(model => model.delim, SPA2.Models.Delimeter.tab, new { @class = "custom-control-input", id = "Tab" })
                @Html.LabelFor(model => model.delim, "Знак табуляции", new { @class = "custom-control-label", @for = "Tab" })
            </div>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(model => model.delim, SPA2.Models.Delimeter.space, new { @class = "custom-control-input", id = "Space" })
                @Html.LabelFor(model => model.delim, "Пробел", new { @class = "custom-control-label", @for = "Space" })
            </div>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(model => model.delim, SPA2.Models.Delimeter.semicolon, new { @class = "custom-control-input", id = "Semic" })
                @Html.LabelFor(model => model.delim, "Точка с запятой", new { @class = "custom-control-label", @for = "Semic" })
            </div>
            <div class="custom-control custom-radio form-group">
                @Html.RadioButtonFor(model => model.delim, SPA2.Models.Delimeter.other, new { @class = "custom-control-input", id = "Other" })
                @Html.LabelFor(model => model.delim, "Другой", new { @class = "custom-control-label", @for = "Other" })
                @Html.EditorFor(model => model.otherDelim, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100px", @maxlength = "1", @onclick = "otherDel()" } })
            </div>



            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Показать результаты</button>
            </div>
        </div>

    }

    <div class="col" id="Docfile" style="border-left: 1px solid grey"></div>
</div>
@section scripts
{
    <script type="text/javascript">
        function otherDel() {
            var del = document.getElementById("Other");
            del.checked = true;
        }
        function choosefile(e) {

            e.preventDefault();
            $.get("/Home/ChooseFile", function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        }
        function fileclick(name,dir) {
            var filepath = document.getElementById("filePath");
            filepath.value = dir + "\\" + name;
            var db = document.getElementById("DBName");
            db.value = name;
            var x = document.getElementById("closefilechoose");
            x.click();
        }
        function EditCeil(idp) {
        var td = document.getElementById(idp);
        td.style.display = 'none';
        var inpt = document.getElementById(idp + "inpt");
        inpt.type = "text";
        inpt.focus();
    }



    function Close(id) {
        var inpt = document.getElementById(id);
        var td = document.getElementById(id.replace('inpt', ''));
        td.style.display = 'inline-block';
        inpt.type = "hidden";
        if (td.innerHTML != inpt.value) {
            form = document.getElementById(id.replace('inpt', 'form'))
            form.type = "submit";
            form.click();
            form.type = "hidden"
            var th = document.getElementById(id.replace('inpt', 'h'));
            th.innerHTML = inpt.value;
        }
        
    }
    function Press(e,id) {
        if (e.keyCode == 13) {
            Close(id);
        }

    }
    function updateCaption(id) {
        alert('sd');
        var th1 = document.getElementById(id);
        var th = document.getElementById(id + "h");
        th.innerHTML = th1.innerHTML;
    }
    function newRow(numCol) {
        var tbody = document.getElementById("dataBody")
        var row = document.createElement("TR")
        var nrow = document.getElementById("rowsnum").value;

        for (let i = 0; i < numCol; i++) {
            var td = document.createElement("TD");
            td.setAttribute("ondblclick", 'EditCeil("td_' + nrow + '_' + i + '")')
            td.innerHTML = "col";
            CopyingTD = document.getElementById("copytd")
            td.innerHTML = CopyingTD.innerHTML;
            td.innerHTML = td.innerHTML.replace("td_a_a", "td_" + nrow + "_" + i);
            td.innerHTML = td.innerHTML.replace("td_a_a", "td_" + nrow + "_" + i);
            td.innerHTML = td.innerHTML.replace("td_a_a", "td_" + nrow + "_" + i);
            td.innerHTML = td.innerHTML.replace("td_a_a", "td_" + nrow + "_" + i);
            td.innerHTML = td.innerHTML.replace("curCol", i);
            td.innerHTML = td.innerHTML.replace("curRow", nrow);
            
            row.appendChild(td);
            
        }

        document.getElementById("rowsnum").value = Number(nrow) + 1;
        tbody.appendChild(row);
        }
        
    </script>
}